@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
.activity_container {
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.activity_container img {
  width: 155px;
}

.activity_container h1 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 55px;
}

.activity_container span {
  width: 690px;
  text-align: center;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  line-height: 22px;
  word-spacing: 5px;
}

.activity_card_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow: hidden;
  gap: 20px;
  margin-top: 20px;
}

.activity_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff9f0;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.activity_card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.activity_card_0 {
  background: linear-gradient(45deg, #d03c3a, #ff844f);
}

.activity_card_img {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity_card b {
  font-size: 30px;
  color: #999999;
}

.activity_card_0 b {
  color: #fff;
}

.activity_card span {
  width: 250px;
  color: #999999;
  font-size: 14px;
}

.activity_card_0 span {
  color: #fff;
}

/* media */

@media (max-width: 870px) {
  .activity_card_img {
    height: 130px;
  }
  .activity_card b {
    font-size: 25px;
    margin-top: 15px;
  }

  .activity_card span {
    width: auto;
  }
}

@media (max-width: 820px) {
  .activity_card_img img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 735px) {
  .activity_container span {
    width: auto;
  }

  .activity_card_container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 580px) {
  .activity_container h1 {
    font-size: 45px;
  }
}

@media (max-width: 450px) {
  .activity_container img {
    width: 135px;
  }
  .activity_container h1 {
    font-size: 35px;
  }

  .activity_card_container {
    grid-template-columns: repeat(1, auto);
    gap: 10px;
  }
}
