@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

.form_page_containser {
  background: linear-gradient(45deg, #d03c3a, #ff844f);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 500px;
  margin-top: 180px !important;
}

.form_page_containser img {
  width: 550px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.form_page_input_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_page_input_container h1 {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  width: 420px;
}

.form_page_input_container span {
  width: 500px;
  color: #fff;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  line-height: 22px;
  word-spacing: 5px;
}

.input_box {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fffdfd4c;
  backdrop-filter: blur(3px);
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
}

.input_box input {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  font-size: 15px;
  text-indent: 10px;
  font-weight: 100;
  background: transparent;
  color: #fff;
}

.input_box input::placeholder {
  color: #fff;
}

.input_box button {
  height: 100%;
  color: #d03c3a;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.input_box button:hover {
  background: #ff844f;
  color: white;
  transition: 0.3s ease;
}

/* media */

@media (max-width: 1025px) {
  .form_page_input_container span {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .form_page_containser {
    height: 400px;
  }

  .form_page_containser img {
    width: 450px;
  }
}

@media (max-width: 820px) {
  .form_page_containser {
    height: 300px;
    margin-top: 120px !important;
  }

  .form_page_containser img {
    width: 350px;
  }
  .form_page_input_container {
    gap: 10px;
  }
  .form_page_input_container h1 {
    font-size: 30px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .form_page_input_container h1 {
    font-size: 22px;
  }

  .form_page_input_container span {
    line-height: 18px;
    word-spacing: 2px;
  }
}

@media (max-width: 640px) {
  .form_page_containser {
    margin-top: 80px !important;
  }
  .form_page_containser img {
    width: 300px;
  }
  .input_box {
    height: 35px;
  }

  .input_box input {
    font-size: 10px;
  }
}

@media (max-width: 560px) {
  .form_page_containser {
    margin-top: 30px !important;
  }
  .form_page_containser img {
    width: 250px;
  }

  .form_page_input_container h1 {
    font-size: 17px;
  }

  .form_page_input_container span {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .form_page_containser img {
    width: 230px;
  }
}

@media (max-width: 430px) {
  .form_page_containser {
    margin-top: 0px !important;
  }
  .form_page_input_container h1 {
    font-size: 16px;
  }

  .form_page_input_container span {
    font-size: 12px;
  }
  .input_box {
    height: 30px;
  }
}

@media (max-width: 420px) {
  .form_page_containser img {
    width: 200px;
  }
}
